body {
    background-color: #e7f0ff;
}

h1 {
    color: #68449c;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}

h2 {
    color: #68449c;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
}

.container_1 {
    display: grid;
    padding: 0 12%;
}

.container_2 {
    display: grid;
    height: 865px;
    padding-left: 7.5%;
    padding-right: 5%;
}

.container_3 {
    display:grid;
    height: 600px;
    grid-template-columns: 50% 50%;
    padding: 0 5%;
}

.container_4 {
    display:grid;
    height: 650px;
    grid-template-columns: 50% 50%;
    padding: 0 5%;
}

.c_map {
    background-color: #e7f0ff;
}

.hdi_gni {
    background-color: #e7f0ff;
}

.hdi_inequality {
    background-color: #e7f0ff;
}